<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <a href="/edit/{{id}}">Edit Ticket</a>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>


<section class="card post-list commentList">
    <div class="card-header">
        <h3>Responses:</h3>
    </div>

    <div class="card-body">
    {{#each comments}}
    <div class="row mb-4 post">
        <div class="col-md-8">
             <p>
                {{body}}
            </p>
             <p>
                &mdash; {{user.name}}
            </p>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</section>


    <form id="new-comment-form" class="card">
        <div class="card-header">
            <h3>Add a Response</h3>
        </div>

        <div class="card-body">
            <input type="hidden" name="post-id" value="{{id}}">

            <label class="form-label" for="comment-body">Response</label>

            <textarea name="comment-body" class="form-input"></textarea>
     
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' id='upload'/>
    </form> 
</div>

<script src="../js/comment.js"></script>